.board {
    width: 60%;
    height: 50vh;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

img {
    padding: 40px;
}

button {
    outline: none;
}

#play {
    padding: 20px 100px;
    margin: 0 auto;
    font-size: 2rem;
    border-radius: 10px;
}

#new-game {
    padding: 20px 52px;
    margin: 0 auto;
    font-size: 2rem;
    border-radius: 10px;
}